/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
:root {
  --primary-color: #e5e7ec; /* Replace with your primary color */
  --secondary-color: #292929; /* Replace with your secondary color */
}
body{
  background:rgb(241, 240, 239);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
